<h1>Admin interface</h1>
It's <%= Time.now %>

<p>We have <%= pluralize(@total_domains, "domain") %></p>
<p>We have <%= pluralize(@total_scans, "scan") %></p>
<p>We have <%= pluralize(@total_results, "result") %></p>


Show count of domains/scans/results
