// Place all the styles related to the Public controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.public {
  h1 {
    margin: 0;
    padding-bottom: 0.5em;
    font: 150% sans-serif;
    color: white;
    border-bottom: 3px dotted #77d
  }

  .entry2 {
    overflow: auto;
    margin-top: 1em;
    border-bottom: 1px dotted #77d;
    min-height: 100px;

  }

  .text {
    color: #d3f82c;
  }

  .redtext {
    color: aqua;
    font: 100% sans-serif;
  }


  p.div.status_line {
    margin-left: 100px;
    margin-top: 0.5em;
    margin-bottom: 0.8em;
  }

  .status {
    color: #44a;
    font-weight: bold;
    margin-right: 3em;

  }
}