// Place all the styles related to the Results controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.results {
  h1 {
    color: white;
  }
  .resultlist {
    color: #d3f82c;
  }
  .text {
    color: #d3f82c;
  }
}