// Place all the styles related to the Scans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.scans {
  h1 {
    color: white;
  }

  .kollane {
  color: #d3f82c;
  }

  .text {
  color: #d3f82c;
}
.all_scan {
  color: #d3f82c;

}

.scanlist {
  color: #d3f82c;
}

.result {
  color: white;
}
}