<p id="notice"><%= notice %></p>
<h1>Public results view</h1>

<% @results.each do |result| %>
  <div class="entry">
    <%= result.name %>
    <div class="status_line">
      <span class="status"><%= result.status %></span>
    </div>
  </div>

<% end %>